<h1>Edit Operation Note</h1>
<% form_for :op_note, :url => { :action => 'update', :id => @op_note } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="form_action"><%= submit_tag('Update') %></div>
<% end %>
